google.client.id=YOUR_CLIENT_ID
google.client.secret=YOUR_CLIENT_SECRET
// Nếu k có thì dùng server này
api.base.url=https://api.dangpham.id.vn
ws.nestjs.url=https://ws.dangpham.id.vn/ws-game
ws.go.url=wss://ws-go.dangpham.id.vn/ws-game
